/*-- HTML and Body --*/

html, body {
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

#welcome-section {
    text-align: center;
}

#contact {
    text-align: center;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

i {
    padding-right: 5px;
}

.header {
    text-align: center;
    padding: 10px;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .display-3 {
      font-size: 10px;
    }
}