/*-- HTML and Body --*/

html, body {
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

#welcome-section {
    text-align: center;
}

#contact {
    text-align: center;
}

#contact ul {
  list-style-type: none;
}